<!DOCTYPE html>
<html>
<head>
  <title>Fantastic Food</title>
</head>
<body>
<a href="/items/new">New Item</a>
<% DASFOOD.each_with_index do |item, index| %>
  <ul>
    <%= item %> - <a href="/items/<%= index %>">Show Item</a>
  </ul>
<% end %>
</body>
</html>