<!DOCTYPE html>
<html>
<head>
  <title>Fantasic Food</title>
</head>
<body>
Add your new item
<form action="/items" method="post">
  <input type="text" name="new_item">
  <input type="submit" value="Submit">
</form>
</body>
</html>